html {
    background: #ddcdcd url('http://db.tt/1vIcpZVI') no-repeat center top;
}
body {
    font-family: Georgia, serif;
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: white;
    color: #921e1e;
    max-width: 35em;
    border: 0.75em solid #b89f7b;
    line-height: 1.5em;
}
p {
    margin: 1.5em 0;
}
h1 {
    background-color: #921e1e;
    color: #e2d0b7;
    font-size: 200%;
    padding: 0.75em;
    margin: -0.75em -0.75em 0.75em -0.75em;
}
h2 {
    background-color: #921e1e;
    color: #b89f7b;
    font-size: 150%;
    padding: 1em;
    margin: -1em -1em 1em -1em;
}
h1 + h2 {
    margin-top: -2em;
    padding-top: 0;
}
.right {
	text-align: right;
}
